{% extends 'base.html.twig' %}

{% block title %}Wellcome Home!{% endblock %}

{% block body %}
<h3>
    TODO
</h3>
<table>
    <thead>
        <tr>
            <th>Task</th>
            <th>State</th>
            <th>CreatedAt</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Create the first Vue component</td>
            <td>Pending</td>
            <td>27/07/2022</td>
        </tr>
    </tbody>
</table>
{% endblock %}
