{% block header %}
    <header>
        <nav>
            <bl-button
                url="/"
                title="Home"
            ></bl-button>
            <bl-button
                url="/user"
                title="User"
            ></bl-button>
            <bl-button
                url="/client"
                title="User"
            ></bl-button>
            <bl-button
                url="/bill"
                title="Bill"
            ></bl-button>
        </nav>
        <div class="header-userbox">
            {% if app.user != null %}
            <span class="header-userbox-username">
                {{ app.user.username }}
            </span>
            <bl-button
                url="/logout"
                title="Logout"
            ></bl-button>
            {% else %}
            <bl-button
                url="/login"
                title="Login"
            ></bl-button>
            {% endif %}
        </div>
    </header>
    <div class="header-separator"></div>
{% endblock %}
